/*===============================================================
03
===============================================================*/

.navegation-header {
  display: block;
  height: 60px;
}

.navegation-header .menu > li {
  line-height: 60px;
  height: 60px;
  width: 120px;
  text-align: center;
}

.navegation-header a {
  color: white;
  font-weight: var(--weight-bold);
  letter: var(--more-spacing);
  text-transform: uppercase;
  font-size: var(--size-small);
}

.navegation-header a:hover {
  background: var(--brand-shadow);
}

/* DROP-DOWN */
.navegation-header .drop-down:hover .menu-drop {
  display: block;
}

.navegation-header .menu-drop {
  position: absolute;
  width: 280px;
  top: 60px;
  margin-left: -85px;
  left: 0;
  display: none;
}

.navegation-header .menu-drop li {
  height: 50px;
  line-height: 50px;
  margin: 1px 0;
  background: var(--brand-base);
}
