/*===============================================================
02
===============================================================*/

.btn-icon {
  height: auto;
  width: auto;
  padding: var(--space-base);
}
